Repository BookJamm/iOS, pull requests merged in 2023-07, with the labels that each got.

#4 온보딩 04 UI
  Bookjam.xcodeproj/project.pbxproj
  Bookjam/Assets.xcassets/Colors/GrayColor.colorset/Contents.json
  Bookjam/Utility/SceneDelegate.swift
  Bookjam/View/Onboarding/Onboarding01VC.swift
  Bookjam/View/Onboarding/Onboarding04VC.swift
  Bookjam/View/ViewController.swift
Labels: 👾 Zimging, 🎨 UI, Onboarding04VC

#8 feature: 온보딩 02 구현 완료
  Bookjam.xcodeproj/project.pbxproj
  Bookjam/View/Onboarding/Onboarding02VC.swift
Labels: 😎 Jangmo, 🎨 UI, Onboarding02VC

#11 온보딩 05 UI 충돌 해결
  Bookjam.xcodeproj/project.pbxproj
  Bookjam/View/Onboarding/Onboarding05VC.swift
Labels: 👾 Zimging, 🐞 Bug, 🎨 UI, Onboarding05VC

#13 온보딩 03 UI 구현 완료
  Bookjam.xcodeproj/project.pbxproj
  Bookjam/View/Onboarding/Onboarding02VC.swift
  Bookjam/View/Onboarding/Onboarding03VC.swift
Labels: 😎 Jangmo, 🎨 UI, Onboarding03VC

#17 Feature/12 onboarding 3 UI
  Bookjam.xcodeproj/project.pbxproj
  Bookjam/Utility/SceneDelegate.swift
  Bookjam/View/Onboarding/Login/LoginAPI.swift
  Bookjam/View/Onboarding/Login/Models/users.swift
  Bookjam/View/Onboarding/Onboarding01VC.swift
  Bookjam/View/Onboarding/Onboarding02VC.swift
  Bookjam/View/Onboarding/Onboarding03VC.swift
Labels: 😎 Jangmo, ⭐️ Feat, Onboarding02VC, Onboarding03VC
